.FilterWrap {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.inputFeild label {
    color: #000;
    font-family: var(--heading-font-family);
    padding: 5px 0px;
}

.inputFeild input {
    width: 100%;
    height: 30px;
}

.inputFeild input:focus {
    outline: none;
}

.selectFeild label{
    color: #000;
    font-family: var(--heading-font-family);
    padding: 5px 0px;
}

.selectFeild select{
    width: 100%;
    height: 30px;
}

.selectFeild select:focus {
    outline: none;
}

.FilterButton {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end ;
}

.FilterButton button {
    border: 1px solid ;
}